.js #javascript-tabs {
  position: relative;
  z-index: 10;
}

.js #javascript-tabs ul {
  display: none;
}

.js #javascript-tabs #javascript-tabs-rollover {
  background: url('javascript-tabs-rollover.png') center center no-repeat;
  cursor: pointer;
  height: 32px;
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
}

.js #javascript-tabs ul#javascript-tabs-primary {
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  background-color: black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  margin: 0;
  padding: 15px 10px;
  position: absolute;
  right: 15px;
  top: 15px;
}

.js #javascript-tabs ul#javascript-tabs-primary ul#javascript-tabs-secondary {
  margin-left: 10px;
}

.js #javascript-tabs ul#javascript-tabs-primary li {
  display: block;
  line-height: normal;
  margin: 0;
}

.js #javascript-tabs ul#javascript-tabs-primary li a {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #111;
  border-radius: 5px;
  color: #aaa;
  display: block;
  margin: 0;
  padding: 5px 10px;
  text-decoration: none;
}

.js #javascript-tabs ul#javascript-tabs-primary > li.active > a,
.js #javascript-tabs ul#javascript-tabs-primary ul#javascript-tabs-secondary > li.active > a {
  color: white;
}

.js #javascript-tabs ul#javascript-tabs-primary > li > a:hover,
.js #javascript-tabs ul#javascript-tabs-primary ul#javascript-tabs-secondary > li > a:hover {
  background-color: white;
  color: black;
}
